#primeraPantalla{
    display: flex;
    justify-content: center;
    align-items: center;
}

#barbaroCont{
    height: 5em;
    width: 5em;
    background-color: aqua;
}
#ladronCont{
    height: 5em;
    width: 5em;
    background-color: red;
}
#pistoleroCont{
    height: 5em;
    width: 5em;
    background-color: blue;
}
#guerreraCont{
    height: 5em;
    width: 5em;
    background-color: greenyellow;
}
#skill1{
    height: 5em;
    width: 5em;
}
#skill2{
    height: 5em;
    width: 5em;
}
#quePasa1{
    height: 2em;
    width: 15em;
    
    background-color: red;
    border: 2px solid black;
}
#barraVida2players1{
    height: 2em;
    
    background-color: greenyellow;
}
#barraVida2players2{
    height: 2em;
    
    background-color: greenyellow;
}

#quePasa2{
    height: 2em;
    width: 15em;
   
    background-color: red;
    border: 2px solid black;
}
#quePasa1solo{
    height: 2em;
    width: 15em;
  
    background-color: red;
    border: 2px solid black;
}
#barraVida2{
    height: 2em;
    
    background-color: greenyellow;
}

#queAtaque1solo{
    height: 4em;
    width: 30em;
    background-color: turquoise;
}
#quePasa2solo{
}



#barraVida1{
    height: 2em;
  
    background-color: greenyellow;
}



#queAtaque2solo{
    height: 2em;
    width: 15em;

    background-color: red;
    border: 2px solid black;
}

#queAtaque2{
    height: 2em;
    width: 15em;
    background-color: turquoise;
}
#pantallaHasGanado{
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#segundaPantallaSuperior{
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#cuantaVida1{
    height: 1em;
    width: 15em;
    
}
#cuantaVida2{
    height: 1em;
    width: 15em;
    
}
#contFotos2{
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contButtons2{
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contComent2{
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#queAtaque1{
    height: 100%;
    width: 80%;
    background-color: turquoise;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}