#primeraPantalla{
    display: flex;
    justify-content: center;
    align-items: center;
}

#barbaroCont{
    height: 5em;
    width: 5em;
    background-color: aqua;
}
#ladronCont{
    height: 5em;
    width: 5em;
    background-color: red;
}
#pistoleroCont{
    height: 5em;
    width: 5em;
    background-color: blue;
}
#guerreraCont{
    height: 5em;
    width: 5em;
    background-color: greenyellow;
}
#skill1{
    height: 5em;
    width: 5em;
}
#skill2{
    height: 5em;
    width: 5em;
}
