#primeraPantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fondoSeleccion.gif) no-repeat center/cover;
}
#segundaPantalla{
    background: url(../img/fondoPelea.gif) no-repeat center/cover;
}
#pantalla1pj{
    background: url(../img/fondo2pantalla.gif) no-repeat center/cover;
}
#terceraPantalla{
    background: url(../img/derrota.gif) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    color:rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
}
#pantallaHasGanado{
    background: url(../img/victoria.gif) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    color:turquoise;
    font-family: 'Trade Winds', cursive;
}

#barbaroCont{
    height: 30em;
    width: 20em;
    background: url(../img/barbaro.png)no-repeat center/cover;
    margin: 10px;
}
#ladronCont{
    height: 30em;
    width: 20em;
    background: url(../img/ladron.png) no-repeat center/cover;
}
#pistoleroCont{
    height: 30em;
    width: 20em;
    background: url(../img/pistolero.png) no-repeat center/cover;
    margin: 10px;
}
#guerreraCont{
    height: 30em;
    width: 20em;
    background: url(../img/warrior.png) no-repeat center/cover;

}


#barraVida2players1{
    height: 2em;
    
    background-color: greenyellow;
}
#barraVida2players2{
    height: 2em;
    
    background-color: greenyellow;
}


#quePasa1solo{
    height: 2em;
    width: 15em;
  
    background-color: red;
    border: 2px solid black;
}
#barraVida2{
    height: 2em;
    
    background-color: greenyellow;
}

#queAtaque1solo{
    height: 4em;
    width: 30em;
    background-color: turquoise;
    
}
#quePasa2solo{
  
}



#barraVida1{
    height: 2em;
  
    background-color: greenyellow;
}



#queAtaque2solo{
    height: 2em;
    width: 15em;

    background-color: red;
    border: 2px solid black;
}

#queAtaque2{
    height: 2em;
    width: 15em;
    background-color: turquoise;
}
#pantallaHasGanado{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
/*********************************************
**********************************************
************PANTALLA DOS PLAYERS*************
*********************************************
**********************************************/

#segundaPantallaSuperior{
    width: 100vw;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#quePasa1{
    height: 2em;
    width: 15em;
    background-color: red;
    margin-right: 5em;
    border: 2px solid black;
}
#cuantaVida1{
    height: 1em;
    width: 15em;
    color: rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
}
#quePasa2{
    height: 2em;
    width: 15em;
    background-color: red;
    margin-left: 5em;
    border: 2px solid black;
}
#cuantaVida2{
    height: 1em;
    width: 15em;
    color: rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
    margin-left: 5em;
}
#contFotos2{
    width: 100vw;
    height: 20em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fotoP11{
    height: 20em;
    width: 15em;
   
}
#fotoP22{
    height: 20em;
    width: 15em;
}

#contButtons2{
    width: 100vw;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contComent2{
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#queAtaque1{
    height: 100%;
    width: 80%;
    background-color: rgb(82, 10, 13);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
}
#skill1{
    height: 5em;
    width: 5em;
    background-color: rgb(26, 80, 26);
    color: rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
    border: 3px solid yellow;
    border-radius: 20%;
}
#skill2{
    height: 5em;
    width: 5em;
    background-color: rgb(26, 80, 26);
    color: rgb(160, 161, 49);
    font-family: 'Trade Winds', cursive;
    border: 3px solid yellow;
    border-radius: 20%;
}